* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --text: black;
}

body {
  background-color: papayawhip;
  font-family: "Courier New", Courier, monospace;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: crimson;
}

.start-screen {
  display: block;
  align-items: center;
}
h1 {
  font-weight: lighter;
  font-style: italic;
  display: flex;
  justify-content: center;
  padding: 50px 0px 20px;
}
.paragraph {
  justify-content: center;
  padding: 0px 200px;
}

#start-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  font-size: 20px;
  text-align: center;
  cursor: grab;
}

#start-btn:hover {
  background-color: palegreen;
}

.hidden {
  display: none;
}

.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 30px 200px;
}

.start-button:hover {
  background-color: lightblue;
  justify-content: center;
}

.questions {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.answers {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
}

#comments {
  text-align: center;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dotted;
}

.buttons-container {
  padding: 10px;
  align-items: center;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

button {
  margin: 10px;
  box-shadow: 5px 5px;
}

@media only screen and (max-width: 480px) {
  /* Adjust styles for mobile devices here */

  .paragraph {
    padding: 0px 20px;
  }

  .container {
    padding: 30px 20px;
  }

  .answers {
    justify-content: center;
  }

  button {
    font-size: 16px;
  }
}
